<% if paginate && paginate.any? %>
  <% param_name = 'page' unless local_assigns[:param_name].present? %>
  <br style="clear:both;"/><br/>
  <div class="pagination"><br/>
    <% if defined?(name) && !name.blank? %>
      <%= page_entries_info paginate, :model => name %>
    <% else %>
      <%= page_entries_info paginate %>
    <% end %>
    <span class="paginate-pages">
    <%= will_paginate paginate,
                      :container => false,
                      :param_name => param_name %>
    </span>
  </div>
<% end %>
